<mat-sidenav-container #drawerContainer class="h-screen bg-gray-50 dark:bg-slate-950">
    <mat-sidenav #sidenav
        class="border-r border-gray-200 dark:border-gray-800 dark:bg-slate-900 shadow-lg transition-all duration-300"
        [style.width.px]="sidenavWidth()" [mode]="sidenavMode()" [opened]="isSidenavOpen()" [disableClose]="!isMobile()"
        (closedStart)="isMobile() ? mobileIsOpen.set(false) : null">
        <app-sidebar [collapsed]="!isMobile() && isCollapsed()" [openGroupId]="openGroupId()" (navigate)="onNavigate()"
            (toggle)="toggleSidenav()" (requestExpandGroup)="onExpandGroup($event)"
            (groupStateChange)="onGroupStateChange($event)"></app-sidebar>
    </mat-sidenav>

    <mat-sidenav-content class="flex flex-col h-full overflow-hidden">
        <app-topbar [collapsed]="!isMobile() && isCollapsed()" (toggleSidebar)="sidenav.toggle()"></app-topbar>

        <main class="flex-grow p-0 overflow-auto">
            <router-outlet></router-outlet>
        </main>
    </mat-sidenav-content>
</mat-sidenav-container>