<mat-card class="p-0 overflow-hidden border border-gray-200 dark:border-gray-700 shadow-sm bg-white dark:bg-slate-900">
    <div
        class="p-4 border-b bg-gray-50 dark:bg-slate-800/50 font-medium text-gray-700 dark:text-white border-gray-200 dark:border-gray-700">
        Estilo de Botones</div>
    <div class="p-6">
        <h4 class="font-medium mb-4 text-gray-900 dark:text-white">Forma (Shape)</h4>
        <div class="flex flex-wrap gap-4">
            <div (click)="updateButtonShape('square')"
                class="cursor-pointer border-2 p-4 rounded-md min-w-[120px] text-center hover:bg-gray-50 dark:hover:bg-slate-800 transition-all dark:border-gray-600"
                [class.border-primary]="themeService.settings().buttonShape === 'square'"
                [class.bg-blue-50]="themeService.settings().buttonShape === 'square'">
                <div class="h-8 w-16 bg-gray-300 dark:bg-slate-600 mx-auto mb-2"></div>
                <span class="text-sm font-medium dark:text-gray-200">Cuadrado</span>
            </div>
            <div (click)="updateButtonShape('rounded')"
                class="cursor-pointer border-2 p-4 rounded-md min-w-[120px] text-center hover:bg-gray-50 dark:hover:bg-slate-800 transition-all dark:border-gray-600"
                [class.border-primary]="themeService.settings().buttonShape === 'rounded'"
                [class.bg-blue-50]="themeService.settings().buttonShape === 'rounded'">
                <div class="h-8 w-16 bg-gray-300 dark:bg-slate-600 mx-auto mb-2 rounded"></div>
                <span class="text-sm font-medium dark:text-gray-200">Redondeado</span>
            </div>
            <div (click)="updateButtonShape('pill')"
                class="cursor-pointer border-2 p-4 rounded-md min-w-[120px] text-center hover:bg-gray-50 dark:hover:bg-slate-800 transition-all dark:border-gray-600"
                [class.border-primary]="themeService.settings().buttonShape === 'pill'"
                [class.bg-blue-50]="themeService.settings().buttonShape === 'pill'">
                <div class="h-8 w-16 bg-gray-300 dark:bg-slate-600 mx-auto mb-2 rounded-full"></div>
                <span class="text-sm font-medium dark:text-gray-200">Pill</span>
            </div>
        </div>
    </div>
</mat-card>