<div class="page-container">
    <app-data-table title="Empresas" subtitle="Catálogo de Empresas" [columns]="columns" [rows]="store.pagedItems()"
        [total]="store.totalItems()" [loading]="store.loading()" [pageIndex]="store.pageIndex()"
        [pageSize]="store.pageSize()" [showCreate]="true" createText="Nueva Empresa" (create)="onCreate()"
        (edit)="onEdit($event)" (remove)="confirmDelete(deleteConfirmDialog, $event)"
        (pageChange)="store.onPageChange($event)" (filterChange)="store.setFilter($event.key, $event.value)"
        (clearFilters)="store.clearFilters()"></app-data-table>
</div>

<ng-template #deleteConfirmDialog let-data>
    <h2 mat-dialog-title>Confirmar eliminación</h2>
    <mat-dialog-content>
        ¿Está seguro que desea eliminar a <strong>{{ data.nombre }}</strong>?
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Cancelar</button>
        <button mat-flat-button color="warn" [mat-dialog-close]="true">Eliminar</button>
    </mat-dialog-actions>
</ng-template>